<%- include('../partials/header') %>

<form id="form" action="/posts/<%= post._id %>?_method=PUT" method="POST">
    <h1>Edit a boulder!</h1>
    <br>
    <label>Image URL:</label>
    <input type="text" name="img" value=" <%= post.img %>">
    <label>Name:</label>
    <input type="text" name="name" value="<%= post.name %>">
    <label>Grade:</label>
    <select name="grade">
        <% validGrades.forEach(function(grade, idx) { %>
            <option value="<%= grade %>" <%= idx === 0 ? 'selected' : ''%>>
                <%= grade %>
            </option>
        <% }) %>
    </select>
    <label>Description:</label>
    <textarea type="text" name="description" value="<%= post.description %>"></textarea>
    <label>Location:</label>
    <input type="text" name="location" value="<%= post.location %>">
    <button type="submit">Submit Edits</button>
</form>

<%- include('../partials/footer') %>
