<%- include('../partials/header') %>

<form id="new-form" action="/posts" method="POST"
      xmlns="http://www.w3.org/1999/html">
    <h3>Post a boulder!</h3>
    <br>
    <label>Add image URL</label>
    <input type="text" name="img">
    <label>Name</label>
    <input type="text" name="name">
    <label>Grade</label>
    <select name="grade">
        <% validGrades.forEach(function(grade, idx) { %>
            <option value="<%= grade %>" <%= idx === 0 ? 'selected' : ''%>>
                <%= grade %>
            </option>
        <% }) %>
    </select>
    <label>Description:</label>
    <textarea type="text" name="description"></textarea>
    <label>Location</label>
    <input type="text" name="location">
    <input type="submit" value="Add Boulder">
</form>

<%- include('../partials/footer') %>
